<div style="padding: 30px;">
    {{#with data}}
    <p><span class="label">id:</span> {{id}}</p>
    <p><span class="label">name:</span> {{name}}</p>
    <p><span class="label">path:</span> {{path}}</p>
    <p><span class="label">size:</span> {{size}}</p>
    <p><span class="label">type:</span> {{type}}</p>
    <p><span class="label">savedate:</span> {{lastModified}}</p>
    {{/with}}
</div>
